* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  background-color: #2c0e3a;
  height: 65px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 100px;
  }
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    width: 85%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}

.logo-image {
  height: 35px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .logo-image {
    height: 55px;
    width: 200px;
  }
}

.score-timer-container {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.score-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .score-text {
    font-size: 21px;
  }
}

.score-count {
  font-family: 'Roboto';
  color: #fec653;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .score-count {
    font-size: 21px;
  }
}

.timer-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  list-style-type: none;
}

.timer-image {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .timer-image {
    height: 21px;
    width: 21px;
    margin-right: 10px;
  }
}

.app-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.match-image-container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .match-image-container {
    width: 50%;
  }
}

.match-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .match-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
  }
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .images-container {
    width: 50%;
    margin-bottom: 40px;
  }
}

.trophy-image {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .trophy-image {
    height: 210px;
    width: 240px;
  }
}

.game-score-text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .game-score-text {
    font-size: 28px;
  }
}

.play-again-button {
  background-color: #cf60c8;
  border: none;
  border-radius: 10px;
  outline: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.play-again-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .play-again-text {
    font-size: 21px;
    margin-left: 15px;
  }
}

.result-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .result-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    width: 50%;
    height: 650px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
